# Latex gitignore files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Unreal gitignore files

# Ignore all binary files
*.dll
*.exe
*.pdb
*.suo
*.user
*.userosscache
*.log
*.dat
*.obj
*.bin
*.btl

# Ignore Unreal Engine folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/

# Ignore Unreal Engine configuration files (optional, if you don't want to track them)
Config/DefaultEditorPerProjectUserSettings.ini

# Ignore build artifacts
*.idb
*.VC.db
*.VC.VC.opendb

# Ignore macOS files
.DS_Store
.DS_Store?

# Ignore build logs
*.tlog

# Ignore personal settings
*.opensdf
*.sdf
*.ipch

# Ignore other temporary files
*.tmp
*.temp
*.swp
*.bak
*.backup
Thumbs.db
ehthumbs.db

# Ignore Unreal Engine cache files
*.uasset
*.umap
*.upk

# Ignore custom build tools
*.ncb
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace

# Ignore plugin folders
Plugins/*/Binaries/
Plugins/*/Intermediate/

# If using source control plugins, ignore their files
*.vsp
*.vspscc

